# Week 11 Homework

Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove docs strings)
* Before comitting do a Restart & Run All

Make sure that if a dataframe is passed in, it should not remove any value from it.

In [9]:
import pandas as pd
import random
from faker import Faker

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` length
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
          
        self.fake = Faker()
        
        if df is not None:
            self.df = df
            self.rows = len(df)
        else:
            self.df = pd.DataFrame()
            self.rows = rows
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [random.randint(small_value,high_value) for i in range(self.rows)]
        
        return self.df       
    
        
    def add_name(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.first_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.last_name() for i in range(self.rows)]
        
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.df[column_name] = [self.fake.email() for i in range(self.rows)]
        
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake phone number to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.phone_number() for i in range(self.rows)]
        
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake address to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        
        self.df[column_name] = [self.fake.address() for i in range(self.rows)]
        
        return self.df

In [10]:
import pandas as pd

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [11]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

    product_id  ...         customer_phone
0          123  ...       847-570-3601x567
1          124  ...             0178436040
2          125  ...          (943)899-3335
3          126  ...        +1-584-297-2096
4          127  ...  +1-341-689-8389x27693
5          128  ...             0496227821
6          129  ...    (794)914-2306x78948
7          130  ...     574-423-6953x03113
8          131  ...        +1-158-826-7011
9          132  ...   +1-812-792-6639x4089
10         133  ...     (309)267-1531x6582
11         134  ...      678.189.5236x1316
12         135  ...          (134)577-2155
13         136  ...       128-575-0925x508
14         137  ...   +1-460-948-8035x8482
15         138  ...          (985)832-3218
16         139  ...   001-120-016-5813x586
17         140  ...           572.191.0087
18         141  ...      (654)159-1862x108
19         142  ...       975.190.5028x598
20         143  ...           318.491.3732
21         144  ...     (602)434-4700x7419
22         145  ...     561-149-3661x28833
23         146  ...   +1-865-201-4614x4509
24         147  ...  +1-382-115-5142x94929

[25 rows x 4 columns]

In [12]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('sale_count', 10, 100)

                                    shipping_address  ... sale_count
0  69330 Harrison Loop Suite 594\nChaseview, NY 5...  ...         82
1  3365 Lindsay Landing\nEast Jennifermouth, NY 2...  ...         12
2      911 Smith Well Suite 467\nAprilport, IL 92563  ...         13
3                   PSC 6270, Box 0414\nAPO AA 73664  ...         47
4                   Unit 0750 Box 1225\nDPO AP 30399  ...         14

[5 rows x 4 columns]

In [13]:
df

    product_id  ...         customer_phone
0          123  ...       847-570-3601x567
1          124  ...             0178436040
2          125  ...          (943)899-3335
3          126  ...        +1-584-297-2096
4          127  ...  +1-341-689-8389x27693
5          128  ...             0496227821
6          129  ...    (794)914-2306x78948
7          130  ...     574-423-6953x03113
8          131  ...        +1-158-826-7011
9          132  ...   +1-812-792-6639x4089
10         133  ...     (309)267-1531x6582
11         134  ...      678.189.5236x1316
12         135  ...          (134)577-2155
13         136  ...       128-575-0925x508
14         137  ...   +1-460-948-8035x8482
15         138  ...          (985)832-3218
16         139  ...   001-120-016-5813x586
17         140  ...           572.191.0087
18         141  ...      (654)159-1862x108
19         142  ...       975.190.5028x598
20         143  ...           318.491.3732
21         144  ...     (602)434-4700x7419
22         145  ...     561-149-3661x28833
23         146  ...   +1-865-201-4614x4509
24         147  ...  +1-382-115-5142x94929

[25 rows x 4 columns]